@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
  @apply px-10 
    py-3 
    bg-gradient-to-l 
    hover:bg-gradient-to-r
    from-cyan-500 to-blue-500  
    text-white 
    rounded 
    font-bold 
    cursor-pointer 
    uppercase
    transition-colors;
}

.btn-primary-sm {
  @apply px-5
    py-2 
    bg-gradient-to-l 
    hover:bg-gradient-to-r
    from-cyan-500 to-blue-500  
    text-white 
    rounded 
    font-bold 
    cursor-pointer 
    uppercase
    text-sm
    transition-colors;
}

.custom-input {
  @apply px-3 
    py-2 
    border-gray-300 
    border 
    rounded-md 
    w-[80vw] 
    sm:w-[90vw] 
    md:w-[200px];
}

.label-sm {
  @apply block 
    text-sm 
    font-medium 
}